@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/source-sans-pro/SourceSansPro-Black.otf");
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/pt-sans/PTC55F.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./fonts/pt-sans/PTC75F.ttf");
  font-weight: bold;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2 {
  margin-bottom: 10px;
}

h3, h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.no-underline {
  text-decoration: none;
  color: #253764;
 }

.span-bigger {
  margin-top: -20px;
}

.bigger-task-name {
  font-size: 130%;
  color: #253764;
}

.bigger-task-name-frontpage {
  font-size: 110%;
  color: #253764;
}

.smaller-task-name {
  font-size: 105%;
}


input, select {
  border: 1px solid #c7cad1;
  box-shadow: inset 0 2px 4px rgba(199,202,209,.4);
  border-radius: 4px;
  font-weight: 400;
  line-height: 1.5rem;
  width: 236px;
  padding: .5rem;
  color: #000;
  background: #fff;
  margin: 5px 0px;
  font-size: 15px;
  margin-right: 10px;
}

textarea {
  font-family: "PT Sans", sans-serif;
}

.add-task-container select, .modify-task-container select {
  width: 100%;
}

.add-task-container input, .modify-task-container input {
  width: calc(100% - 18px);
}

button {
  border: 0;
  border-radius: 4px;
  background: #28aae1;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  z-index: 100;
}

button:hover, .search-tasks-button:hover {
  background: #253764;
}

.delete-button:hover {
  background: #f04150;
}

.accept-button:hover {
  background: #14a54b;
}

.header {
  background-color: #253764;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  padding-left: 10%;
  padding-right: 10%;
  align-items : center;
}

.logo {
  position: absolute;
  left: 10%;
  top: 0px;
  height: 50px;
  width: 140px;
  background-image: url('./images/partio_logo_w.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 130px;
  background-color: transparent;
  margin: 10px;
  cursor: pointer;
}

.white-basket {
  position: relative;
  height: 55px;
  width: 45px;
  background-size: 45px;
  background-image: url('./images/white_bag.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.number-of-tasks-in-basket {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.black-basket {
  height: 35px;
  width: 35px;
  background-size: 25px;
  background-image: url('./images/black_bag.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 7px;
  cursor: pointer;
}

.basket-task-view {
  float: right;
  margin-top: 5px;
}

.login-button-header, .signup-button-header, .logout-button-header, .addtask-button-header, .admin-button-header {
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px 10px;
  margin: 0px;
}

.username-header {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logout {
  display : flex;
  align-items : center;
  justify-content: center;
  margin: 5px;
}

.logged {
  color: white;
  margin: 5px;
}

.container {
  width: 80%;
  margin: auto;
}

.new-favorite-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 4px;
  background-image: url('./images/retki_luonto_syksy_EevaHelle_DSCF0184.jpg');
}

.frontpage h1 {
  text-align: center;
}

.frontpage-info {
  width: 100%;
}

.new-list, .favorite-list {
  width: 49%;
}

.add-task-container, .modify-task-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.frontpage-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lists-container {
  display: block;
}

.rc-md-editor {
  min-height: 200px;
}

.success {
  color: #14a54b;
  font-size: 15px;
}

.error {
  color: #f04150;
  font-size: 15px;
}

.rated {
  font-size: 13px;
  margin-top: 20px;
}

.admin-task-buttons-mobile {
  display: none;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search, .filter {
  width: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.filter input, .add-acceptedCategories input, .modify-acceptedCategories input {
  box-shadow: none;
}

.search-form {
  width: 100%;
}

.search-input {
  width: calc(100% - 96px);
}

.task-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  font-weight: bold;

}

.image-on-background {
  color: #f4f5f7;
}

.task-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  background-color: #dbebf1;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.task-list-title span:not(:first-of-type) {
  margin: 5px 15px;
}

.task-list-title span:first-child {
  margin: 5px 25px 5px 5px;
}

.task-list-title span:not(:last-child) {
  width: 150px;
}

.task-list-item span:not(:last-child) {
  width: 150px;
  padding: 5px 0px;
}

.frontpage-item span {
  width: 130px;
}

.frontpage-item span:last-child, .task-list-item span:last-child, .task-list-title span:last-child {
  width: 25px;
}

.task-list button {
  background:grey;
}

.task-view-info-background {
  background-color: #F4F5F7;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.task-view-info h2 {
  display: inline-block;
  margin-top: 0px;
}

.task-view-info h3 {
  margin-bottom: 0px;
}

.task-view-info p {
  margin-top: 5px;
}

.task-list-delete {
  text-align: center;
}

.star-ratings {
  white-space: nowrap;
}

.star-container {
  padding-left: 1px!important;
  padding-right: 1px!important;
}

.user-info button, .save-task-button, .modify-view-button, .accept-button {
  margin-right: 10px;
}

.user-info p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.edit-user-form label {
  font-size: 15px;
  font-weight: bold;
}

.edit-user-form input {
  margin-bottom: 10px;
}

.series-info {
  margin-bottom: 5px;
  font-weight: bold;
}

.instructions {
  margin-bottom: 10px;
}

.dropdowns, .creator {
  display: flex;
  align-content: space-between;
  vertical-align: top;
}

.dropdowns div, .creator div {
  flex-basis: 100%;
  margin-right: 5px;
}

.multiple-series {
  height: 132px;
}

.color-picker {
  padding: 5px;
}

table, th, td {
  border: 1px;
  border-color: darkslategray;
  border-style: solid;
  border-radius: 4px;
  border-collapse: collapse;
  padding: 5px;
}

.buttons {
  margin-top: 15px;
}

.files {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 60px;
  line-height: 100%;
  padding: 5px;
  border-width: 2px;
  border-color: #B3B3B3;
  border-style: dashed;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.title {
  font-weight: bold;
  margin: 5px;
}

.files div {
  margin-bottom: 5px;
}

.remove-file {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
  width: 20px;
  background-size: 15px;
  background-image: url('./images/remove.svg');
  background-position: 5px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.button-type-underline, .button-type-image {
  display: none!important;
}

.task-types {
  background-color: white;
  color: #000;
  padding: 0;
  text-transform: none;
  font-size: 25px;
  letter-spacing: unset;
  outline: none;
}

.task-types:hover {
  background-color: white;
}

.task-types-menu {
  margin-top: 10px;
  border: 1px solid #c7cad1;
  border-radius: 4px;
  padding: 5px;
}

.category-list-item, .language-list-item, .serie-list-item, .rule-list-item {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.item-name {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
  margin: 5px;
  overflow-wrap: break-word;
}

.item-name span {
  min-width: 27px;
}

.item-buttons {
  display: flex;
}

.item-modify {
  width: 100%;
}

.item-modify input {
  display: inline-block;
  width: 142px;
}

.item-buttons-save {
  display: inline-block;
}

.category-list-item button, .category-form-item  button {
  margin-left: 5px;
}

.rule-list-item button, .rule-form-item  button {
  margin-left: 5px;
}

.serie-list-item button, .serie-form-item  button {
  margin-left: 5px;
}

.language-list-item button, .language-form-item  button {
  margin-left: 5px;
}

.category-form, .rule-form, .serie-form, .language-form, .add-form {
  margin-top: 10px; 
}

.rating { 
  display: flex;
}

.task-rating {
  float: right;
  margin-right: 70px; 
}

.rating-amount {
  margin-top: 35px;
  margin-left: 15px;
}
 
.task-header {
 display: flex;
 justify-content: space-between; 
 
}
.crls-container button {
  z-index: 0;
}

.crls-container input {
  box-shadow: none;
  margin-right: 0;
  height: 16px;
}

.item-add input {
  margin-right: 5px;
}

.break {
  width: 100%;
}

.accepted-categories-list {
  margin-left: 5px;
  margin-bottom: 10px;
  font-style: italic;
  max-width: 350px;
}

.rule-list-item {
  border-bottom: 1px solid #c7cad1;
  max-width: 380px;
  padding-top: 5px;
}

.add-form input {
  width: 260px;
}

.add-acceptedCategories {
  width: 356px;
  margin-bottom: 7px;
}

.modify-acceptedCategories {
  width: 374px;
  margin-bottom: 7px;
}

.admin-radio input {
  width: auto;
  margin: 10px;
  box-shadow: none;
}

.arrow-container {
  position: relative;
}

.arrow-container i {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}

.name-arrow-up, .rating-arrow-up, .created-arrow-up {
  position: absolute;
  top: 4px;
  left: 4px;
  transform: rotate(-135deg);
}

.name-arrow-down, .rating-arrow-down, .created-arrow-down {
  position: absolute;
  top: 8px;
  left: 4px;
  transform: rotate(45deg);
}

.delete-task-from-basket-mobile {
  display: none;
}

.delete-task-from-basket {
  height: 25px;
  width: 25px;
  background-size: 20px;
  background-image: url('./images/remove.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.basket-delete-all {
  float: right;
  margin-top: 20px;
}

.basket-title {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .logo {
    left: 0px;
    background-position: 10px 0px;
  }

  .container {
    width: 100%;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
  }

  .task-view-info-background {
    margin-top: 10px;
  }

  .search, .filter {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
}

@media screen and (max-width: 970px) {
  .new-list, .favorite-list {
    width: 100%;
  }

  .white-basket {
    margin: 0;
  }
}

@media screen and (max-width: 860px) {
  .task-list-item, .task-list-title, .frontpage-item {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .task-list-item span, .task-list-title span, .frontpage-item span {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .arrow-inline {
    display: flex!important;
  }

  .name-arrow-up, .rating-arrow-up, .created-arrow-up {
    top: 0px;
  }
  
  .name-arrow-down, .rating-arrow-down, .created-arrow-down {
    top: 4px;
  }

  .task-list-title span:first-child, .task-list-title span:not(:first-of-type) {
    margin: 5px;
  }

  .task-list-delete {
    text-align: left;
  }

  .delete-task-from-basket-mobile {
    display: block;
    float: right;
    margin-top: 5px;
    height: 25px;
    width: 25px;
    background-size: 20px;
    background-image: url('./images/remove.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
  }

  .delete-task-from-basket {
    display: none!important;
  }
}

@media screen and (max-width: 700px) {
  .admin-task-buttons-mobile {
    background-color: rgb(37, 55, 100);
    height: 20px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    align-items: center;
  }

  .admin-button-mobile, .addtask-button-mobile {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0px 10px;
    margin: 0px;
    z-index: 50;
  }

  .admin-button-header, .addtask-button-header {
    display: none;
  }

  .task-rating {
    float: none;
  }

  .new-favorite-lists {
    background-image: url('./images/retki_luonto_syksy_EevaHelle_DSCF0184Smaller.jpg');
  }
}

@media screen and (max-width: 660px) {
  .logo {
    top: 15px;
    background-size: 120px;
    margin: 5px;
  }
}

@media screen and (max-width: 625px) {
  .add-task-container, .modify-task-container {
    width: 100%;
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  textarea, select, input, .task-title {
    width: 100%;
    box-sizing: border-box;
  }

  .dropdowns {
    display: block;
  }
}

@media screen and (max-width: 410px) {
  .item-name {
    width: calc(100% - 165px);
    min-width: 100px;
  }

  .item-buttons button, .item-buttons-save button {
    padding-left: 4px;
    padding-right: 4px;
  }

  .item-add input {
    width: calc(100% - 103px);
  }

  .item-modify input {
    display: inline-block;
    width: calc(100% - 188px);
  }
  
  .item-buttons-save {
    display: inline-block;
    width: 170px;
  }

  .add-acceptedCategories, .modify-acceptedCategories {
    width: calc(100% - 5px);
  }

  .search, .filter {
    width: calc(100%);
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .header {
    padding-right: 10px;
  }

  .logo {
    height: 40px;
    width: 120px;
    background-position: 5px 0px;
    top: 18px;
    background-size: 100px;
  }

  .login-button-header, .signup-button-header, .logout-button-header, .addtask-button-header {
    padding: 0px 5px;
  }

  .basket-delete-all {
    margin-top: 5px;
  }
}

@media screen and (max-width: 340px) {
  h1 {
    font-size: 30px;
  }

  .logo {
    top: 25px;
    background-size: 80px;
    margin: 2px;
  }
}